<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>>Elastic BeanStalk & Version Control</title>
    <style>
            .highlight {
            color: green;
            font-weight: bold;
        }
    </style>
</head>
<body>
    
<h1><u>DevOps (FE+BE) Fast Deploy Application</u></h1><p>written by Weng Yin</p> 
<br>
<p>instruction here: </p>
<p>For your Information: </p>
<p>For frontend application, written in VueJS</p>
<p>To Deploy VueJS apply, just run the command npm run build. Then all production code will be generated in the dist folder.
    Then you upload your code into GitLab / GitHub. Then, you ssh login the server and run the git clone the repository
    and run cp -a ~/XXX/. ~/var/www/html
    where the index.html should be located in the html. Then you visit the server port 80 your frontend should be up.
</p>
<br>

<p>Backend application written in Java Spring</p>
<p>Upload  your code into GitHub or Gitlab. Then, ssh login your server to git clone. Then open project, run </p>
<p>
    sudo mvn clean install

cd target

sudo java -jar springprocessmanagementelasticbeanstalkdeploy-0.0.1-SNAPSHOT.jar


</p>
<p>Example: nohup java -jar bmi-1.0.jar</p>
<p>After running this, this will be running in PID background. In order to stop this, you need to kill the process</p>
<p>Here is the reason why this "DevOps (FE+BE) Fast Deploy Application" is created </p>
<br>
<h1>All Process Information</h1>
<pre th:text="${processInfo}"></pre>
<br>
<h1>Process running application</h1>
<h3><u>Java Spring Application</u></h3>
<pre th:each="line : ${highlightedLines}" th:classappend="${line.contains('java -jar') ? 'highlight' : ''}">
    <span th:text="${line}" ></span>    
</pre>
<br>
<h3><u>NodeJS Application</u></h3>
<br>
<pre th:each="line : ${highlightedLines_NODEJS}" th:classappend="${line.contains('node') ? 'highlight' : ''}">
    <span th:text="${line}" ></span>    
</pre>

<br>

<h1>Terminate the application / process</h1>

<form th:action="@{/process-input}" method="post">
    <input type="text" name="userInput" th:attr="style='width: 500px; height: 50px;'" />
    <button type="submit" th:attr="style=' height: 50px;'" >Kill The Process</button>
</form>

<hr>
<h1>Deployment Blue Green Strategy</h1>
<br>


<h3>Frontend Deployment - Apache Web Service (Blue Environment)</h3>
<pre th:text="${apacheStatus}"></pre>
<br>

<h3>Frontend Deployment - Nginx Web Service  (Green Environment)</h3>
<pre th:text="${nginxStatus}"></pre>
<br>

<h3>Backend - Elastic BeanStalk & Version Control  (Blue Environment)</h3>
<p>Fast Deloyment</p>
<form th:action="@{/upload}" method="post" enctype="multipart/form-data">
    <input type="file" name="file" />
    <button type="submit">Upload</button>
</form>
<p th:text="${message}"></p>

<br>

<h3>Backend - Elastic BeanStalk & Version Control  (Green Environment)</h3>
<p>Fast Deloyment</p>

<p th:text="${message}"></p>

<br>

<hr>


    <h2>Files in Current Directory</h2>
    <ul>
        <li th:each="fileName : ${fileList}" th:text="${fileName}"></li>
    </ul>
</body>
</html>
