<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>>Elastic BeanStalk & Version Control</title>
    <style>
            .highlight {
            color: green;
            font-weight: bold;
        }
    </style>
</head>
<body>
    

<h1>All Process Information</h1>
<pre th:text="${processInfo}"></pre>
<br>
<h1>Process running application</h1>
<h3><u>Java Spring Application</u></h3>
<pre th:each="line : ${highlightedLines}" th:classappend="${line.contains('java -jar') ? 'highlight' : ''}">
    <span th:text="${line}" ></span>    
</pre>
<br>
<h3><u>NodeJS Application</u></h3>
<br>
<pre th:each="line : ${highlightedLines_NODEJS}" th:classappend="${line.contains('node') ? 'highlight' : ''}">
    <span th:text="${line}" ></span>    
</pre>

<br>

<h1>Terminate the application / process</h1>

<form th:action="@{/process-input}" method="post">
    <input type="text" name="userInput" th:attr="style='width: 500px; height: 50px;'" />
    <button type="submit" th:attr="style=' height: 50px;'" >Kill The Process</button>
</form>

<hr>
<h1>Deployment Blue Green Strategy</h1>
<br>


<h3>Frontend Deployment - Apache Web Service (Blue Environment)</h3>
<pre th:text="${apacheStatus}"></pre>
<br>

<h3>Frontend Deployment - Nginx Web Service  (Green Environment)</h3>
<pre th:text="${nginxStatus}"></pre>
<br>

<h3>Backend - Elastic BeanStalk & Version Control  (Blue Environment)</h3>
<p>Fast Deloyment</p>
<form th:action="@{/upload}" method="post" enctype="multipart/form-data">
    <input type="file" name="file" />
    <button type="submit">Upload</button>
</form>
<p th:text="${message}"></p>

<br>

<h3>Backend - Elastic BeanStalk & Version Control  (Green Environment)</h3>
<p>Fast Deloyment</p>

<p th:text="${message}"></p>

<br>

<hr>


    <h2>Files in Current Directory</h2>
    <ul>
        <li th:each="fileName : ${fileList}" th:text="${fileName}"></li>
    </ul>
</body>
</html>
